<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Usuario Mercadeo</title>
</head>
<body>
    <h1>Editar Usuario Mercadeo</h1>
    <form th:action="@{/mercadeo/editar}" method="post">
        <input type="hidden" name="id" th:value="${usuario.id}">
        
        <label>Correo:</label><br>
        <input type="text" name="correo" th:value="${usuario.correo}" required><br><br>

        <label>Nombre:</label><br>
        <input type="text" name="nombre" th:value="${usuario.nombre}" required><br><br>

        <label>Contraseña:</label><br>
        <input type="password" name="contraseña" th:value="${usuario.contraseña}" required><br><br>

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
